p,h4{
color:#C8A15C;
font-size:15px;
}

h3,h1{
color:#27AFAA;
}

body{
background-image:url('wol.jpg');
background-repeat: no-repeat;
background-attachment: fixed;  
}

table{background-color:#583d1b;
}

a{
text-decoration:none;
color:green;
}

table.b{background-image:url('upper.JPeG');
background-size:100%;
}

h5{
	color:red;
text-decoration:underline overline;

}
#log-pass{
	height:30px;
	border-radius:10px;
}